/*

Datei ist für eigene Anpassungen am CSS da.

Bootstrapanpassungen werden hier auch reingeschrieben.

Die Datei wird nach der Bootstrap.css eingebunden und kann die Änderungen von Bootstrap überschreiben.

*/



a {
    color: black;
}
a:link {

}
a:visited {

}
.nav>li>a:hover, .nav>li>a:focus {
    background: #41A128;
    color: white;
}
a:active {

}
#map_canvas {
    width:100%;
    height: 500px;
    border: solid 5px #ffbb26;
}
.content {
}
.gameEnd {
    margin-top: 10px;
    text-align: center;
}
.gameEnd .btn {
    margin-top: 10px;
}
#gameStarter {
    position: relative;
    text-align: center;
}
#placeAnswerMarker {
    margin-top: 10px;
    margin-bottom: 20px;
}
#answer {
	display: none;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}
#solutionForm {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
#questionForm {
    margin-top: 20px;
}
#verifiyForm {
    margin-top: 10px;
}
body {
	background-color: #41A128;
}
img.imgA {
	display: block;
    margin: 20px 10px 15px auto;
}
.impressum {
    background: white;
    padding: 15px;
    margin-top: 20px;
    border-radius: 15px;
}
#highscore {
    margin-top: 10px;
}
#question{
	font-size: 18px;
	font-weight: bold;
    border-radius: 26px;
    text-align: center;
    margin-top: 10px;
}
#gameContainer{
    border-radius: 26px;
}
#gameStarter {
    margin-top: 10px;
}
.btn.btn-primary {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 26px;
    width: 200px;
    border: 1px #666;
    font-weight: bold;
}
.btn.btn-success {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 26px;
    width: 200px;
    border: 1px #666;
    font-weight: bold;
}
#submit {
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
	background-color: #CCC;
	color: #333;
	border-radius: 26px;
    width: 200px;
    border: 1px #666;
    font-weight: bold;
}
.header {
    background: #BF9B30;
}
.header ul.nav {
    position: relative;
    top: 85px;
}
/*Handy*/
@media (max-width: 768px) {
    .header ul.nav {
        position: static;
        top: 0;
    }
}
/*SM*/
@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: auto;
        margin-right: 0;
        margin-left: 0;
    }
}
/*MD*/
@media (min-width: 993px) and (max-width: 1200px) {

}
/*LG*/
@media (min-width: 1201px) {
}